*{
    padding: 0;
     margin: 0;
 }
 .header-1{
     background-color: black;
     height: 100px;
     width: 1280px;
     color: brown;
     list-style-type: none;
 }
 .nu-01{
 justify-content: space-between;
 list-style: none;
 display: flex;
 align-items: center;
 height: 100px;
 width: 400px;
 font-family: 'Alumni Sans Collegiate One', sans-serif;
 font-family: 'DynaPuff', cursive;
 font-family: 'Righteous', cursive;
 font-family: 'Rubik Distressed', cursive;
 font-family: 'Secular One', sans-serif;}
 